:root {
    --primary: rgb(46, 138, 153);
    --secondary:rgb(132, 167, 161);
    --dark:rgb(31, 110, 140);
    --background-color: rgb(14, 41, 84);
    --white-semi-transparent: rgba(255,255,255,0.5);
    --primary-semi-transparent: rgba(46, 138, 153, 0.5);
    --secondary-semi-transparent: rgba(132, 167, 161, 0.5);
    --navbar-color:rgba(46, 138, 153, 0.25);
  }

  body {
    height: 100%;
    margin: 0;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    list-style: none;
    color:white;
    height: 100vh;
    background-color: var(--background-color);
    background: linear-gradient(180deg, var(--background-color) 0%, var(--dark) 35%, var(--primary) 100%);  
    font-family: Oxanium;
}

.game-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.game-cell {
    background-color: var(--primary-semi-transparent);
    border-radius: 8px;
    line-height:1.5;

    display:flex;
    flex:1;
    flex-basis:auto;
    gap:16px;
    align-items: flex-start;

    padding:16px;
    margin:16px;

    border: solid 1px var(--white-semi-transparent);
}

.title-row {
    display:flex;
    gap:16px;
    align-items: top;
}

.game-title {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 1.2;
}

.game-img {
    border-radius: 8px;
}

.game-basic-info {
    display:flex;
    justify-content:flex-start;
    gap: 8px;
}

.game-rating {
    font-size:1.7rem;
    background-color:var(--white-semi-transparent);
    border-radius:10%;
    color:var(--dark);
    padding-left: 8px;
    padding-right: 8px;
    max-height:36px;
}