.game-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.game-cell {
    background-color: var(--primary-semi-transparent);
    border-radius: 8px;
    line-height:1.5;

    display:flex;
    flex:1;
    flex-basis:auto;
    gap:16px;
    align-items: flex-start;

    padding:16px;
    margin:16px;

    border: solid 1px var(--white-semi-transparent);
}

.title-row {
    display:flex;
    gap:16px;
    align-items: top;
}

.game-title {
    font-size: 3rem;
    font-family:  "Bungee", sans-serif;
}

.game-img {
    border-radius: 8px;
}

.game-basic-info {
    display:flex;
    justify-content:flex-start;
    gap: 8px;
}

.game-rating {
    font-size:1.7rem;
    background-color:var(--white-semi-transparent);
    border-radius:10%;
    color:var(--dark);
    padding-left: 8px;
    padding-right: 8px;
    max-height:36px;
}



@media only screen and (max-width: 850px) {
    .game-container {
        grid-template-columns: 1fr;
    }
}