.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 100px;
    display:flex;

}

.cell {
    display: flex;
}

.game-info {
    color: red;
    order: 1;
}
.game-title {
    font-size: 3rem;
}

.game-description {
    font-size: 1.5rem;
    text-align: justify;
}

.game-img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    order: 2;
}


@media only screen and (max-width: 500px) {
    .game-img {
        width: 300px;
        height: 300px;
        object-fit: contain;
        order: 1;
    }

    .game-info {
        order: 2;
    }

    .cell {
        flex-direction: column;
    }
}