body {
    height: 100%;
    margin: 0;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    list-style: none;
    color:white;
    height: 100vh;
    background: rgb(7,15,43);
    background: linear-gradient(180deg, rgba(7,15,43,1) 0%, rgba(27,26,85,1) 35%, rgba(83,92,145,1) 100%);  
    font-family: Oxanium;
}

.navbar {
    border-radius: 16px;
    margin:16px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 3rem;
}

li {
    list-style: none;
}

a {
    color:rgba(103,122,185,1)
}


.game-container {
    background-color: rgba(83,92,145,0.3);
    border-radius: 8px;
    line-height:1.5;

    display:flex;
    flex:1;
    flex-basis:auto;
    gap:16px;
    align-items: flex-start;

    padding:8px;
    margin:16px;

    border: solid 1px rgba(83,92,145,1);
}

.title-row {
    display:flex;
    gap:16px;
    align-items: center;
    ;
}

.game-title {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 1.8;
}

.game-img {
    margin:8px; /* find a better way to top align image and topline of text */
    border-radius: 8px;
}

.game-basic-info {
    display:flex;
    justify-content:flex-start;
    gap: 8px;
}

.game-rating {
    font-size:1.7rem;
    background-color:rgba(83,92,145,1);
    border-radius:10%;
    padding-left: 8px;
    padding-right: 8px;
    /*todo find a better way to center text*/
    padding-top: 4px; 
}

.headline {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:32px;
}

@media only screen and (max-width: 400px) {
    .game-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex:1;
    }
    .game-title {

    }
    h1 {
    }
}

